grant {
    permission java.io.FilePermission "<<ALL FILES>>", "read";
    permission java.lang.RuntimePermission "writeFileDescriptor";
    permission java.lang.RuntimePermission "readFileDescriptor";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "accessClassInPackage.*";
    permission java.util.PropertyPermission "*", "read";
    permission java.lang.RuntimePermission "charsetProvider";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.util.resources";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.text.resources";
};

grant codeBase "file:${java.home}/lib/-" {
    permission java.security.AllPermission;
};
